@import './components_styles/content.css';
@import './components_styles/header.css';
@import './components_styles/project_item.css';
@import './components_styles/service_item.css';
@import './components_styles/skill_item.css';
@import './components_styles/dialog.css';
@import './components_styles/section_headline.css';
@import './components_styles/footer.css';

.header {
    background: linear-gradient(to top, var(--secondary-bg), var(--primary-bg));
    color: white;
}

.content {
    min-height: --webkit-fill-available !important;
    background-color: var(--secondary-bg);
    color: white;
}

.footer {
    background: linear-gradient(to top, var(--primary-bg), var(--secondary-bg));
    color: white;
}

.app-bar {
    background-color: var(--secondary-bg);
    color: white;
}

@media (max-width: 1000px) {
    .header, .content {
        padding: 1em 1em !important;
    }
    .app-bar {
        padding: 1.5em 1.5em !important;
    }
    .footer {
        padding: 2em 2em !important;
    }
}

@media (min-width: 1000px) {
    .header, .content, .app-bar {
        padding: 1em 10em !important;
    }
    .footer {
        padding: 2em 10em !important;
    }
}
