@import './components_styles/content.css';
@import './components_styles/header.css';
@import './components_styles/project_item.css';
@import './components_styles/service_item.css';
@import './components_styles/skill_item.css';
@import './components_styles/dialog.css';
@import './components_styles/section_headline.css';

.header {
    background-color: var(--primary-bg);
    color: white;
}

.content {
    min-height: --webkit-fill-available !important;
    background-color: var(--secondary-bg);
    color: white;
}

.footer {
    background-color: var(--primary-bg);
    color: white;
}

.app-bar {
    background-color: var(--secondary-bg);
    color: white;
}

@media (max-width: 1000px) {
    .header, .content, .footer {
        padding: 1em 1em !important;
    }
    .app-bar {
        padding: 1.5em 1.5em !important;
    }
}

@media (min-width: 1000px) {
    .header, .content, .footer, .app-bar {
        padding: 1em 10em !important;
    }
}
