@import './layout.css';
@import './utils.css';

body {
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
    background-color: var(--secondary-bg);
    color: white;
}

:root {
    --primary-bg: black;
    --secondary-bg: #1c2028;
    --tertiary-bg: #2b2f3a;
    --accent-color-green: #00d67d;
    --accent-color-blue: #91b9fc;
    --text-primary-color: white;
    --text-secondary-color: grey !important;
    --border-radius: 0.5em;
    --sections-margin: 1em 0em;
    --items-margin: 0.5em 0em;
    --line-height: 1.5em;
    --border: 1px solid var(--tertiary-bg);
    --box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 8px 0px;
}

.app {
    width: 100%;
    min-height: 100vh;
    height: fit-content;
}