@import './layout.css';
@import './utils.css';

body {
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
    background-color: var(--secondary-bg);
    color: white;
}

:root {
    --primary-bg: black;
    --secondary-bg: #1c2028;
    --tertiary-bg: #2b2f3a;
    --accent-color-green: #00d67d;
    --accent-color-blue: #91b9fc;
    --border-radius: 0.5em;
}

.app {
    width: 100%;
    min-height: 100vh;
    height: fit-content;
}