button {
    box-shadow: none !important;
}

.classic-button {
    background: var(--accent-color-green) !important;
}

.icon-button {
    color: white !important;
}

.padding-1em {
    padding: 1em;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.selected {
    background: var(--selected-bg) !important;
    color: black !important;
}

.skeleton {
    height: 2em;
    border-radius: var(--border-radius);
}