button {
    box-shadow: none !important;
}

.classic-button {
    background: var(--accent-color-green) !important;
}

.icon-button {
    font-family: 'Inter', sans-serif !important;
    color: white !important;
}

.button-chip {
    color: white !important;
    border: 2px solid inherit !important;
    transition: all 0.3s ease !important;
}

.button-chip:hover {
    background-color: var(--accent-color-green) !important;
}

.padding-1em {
    padding: 1em;
}

.bg-secondary {
    color: white !important;
    background-color: var(--secondary-dark-bg) !important;
}

.bg-black {
    color: white !important;
    background-color: black !important;
}

.bg-green {
    background-color: var(--accent-color-green) !important;
    transition: all 0.3s ease !important;
}

.bg-green:hover {
    background-color: #00a35e !important;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.selected {
    background: var(--selected-bg) !important;
    color: black !important;
}

.skeleton {
    height: 2em;
    border-radius: var(--border-radius);
}