button {
    box-shadow: none !important;
}

.icon {
    color: white !important;
}

.chip {
    color: white !important;
    background-color: var(--tertiary-bg) !important;
    width: fit-content;
}

.avatar {
    background-color: inherit !important;
}

.classic-button {
    background: var(--accent-color-green) !important;
}

.icon-button {
    font-family: 'Inter', sans-serif !important;
    color: white !important;
}

.button-chip {
    color: white !important;
    border: 2px solid inherit !important;
    transition: all 0.3s ease !important;
}

.button-chip:hover {
    background-color: var(--accent-color-green) !important;
}

.padding-1em {
    padding: 1em;
}

.bg-secondary {
    color: white !important;
    background-color: var(--secondary-bg) !important;
}

.bg-tertiary {
    color: white !important;
    background-color: var(--tertiary-bg) !important;
}

.bg-black {
    color: white !important;
    background-color: black !important;
}

.bg-green {
    background-color: var(--accent-color-green) !important;
    transition: all 0.3s ease !important;
}

.bg-green:hover {
    background-color: var(--accent-color-green) !important;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.full {
    width: 100%;
}

.left {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    text-align: left;
}

.right {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    text-align: right;
}

.selected {
    background: var(--accent-color-green) !important;
    color: white !important;
}

.skeleton {
    height: 2em;
    border-radius: var(--border-radius);
}

.description {
    color: grey;
    line-height: 1.5em;
}

@media (max-width: 1000px) {
    .scaled {
        max-width: 80%;
    }
}

@media (min-width: 1000px) {
    .scaled {
        max-width: 40%;
    }
}