.textfield .MuiOutlinedInput-root {
    color: white !important;
    background-color: var(--secondary-bg) !important;
    border-radius: var(--border-radius) !important;
    border: var(--border);
    box-shadow: var(--box-shadow);
}

.textfield .MuiInputLabel-root {
    color: var(--accent-color-green) !important;
}

.textfield .MuiOutlinedInput-root:hover .MuiOutlinedInput-notchedOutline {
    border-color: var(--accent-color-green) !important;
}

.textfields-container {
    margin-bottom: 1em !important;
    width: 100%;
}

.chip-send-container {
    display: flex;
    justify-content: flex-end;
}

.chip-feedback-container {
    display: flex;
    justify-content: flex-start;
}

.chip-send {
    width: fit-content;
}

.chip-feedback {
    width: fit-content;
    background-color: inherit;
    color: var(--text-secondary-color) !important;
}

.social-media-item {
    width: fit-content;
}

.social-media-container {
    display: flex;
    padding: 0em 1em !important;
}

.social-media-title {
    color: var(--text-primary-color) !important;
    width: 100%;
    text-align: left !important;
}

.social-media-subtitle {
    color: var(--text-secondary-color) !important;
    line-height: var(--line-height);
    text-align: left !important;
}
