.title {
    color: white;
    font-weight: bolder;
    display: inline;
    width: 100%;
}

.subtitle {
    color: lightgrey;
}

.logo {
    width: 2em;
    height: 2em;
    margin-right: 0.5em;
}

.header-background {
    background: var(--secondary-dark-bg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navigation-stack {
    display: flex;
    justify-content: end;
    align-items: center;
}

.flag-icon {
    width: 1em;
    height: 2em;
    margin-right: 0.5em;
}


@media (max-width: 1000px) {
    .background-photo {
        padding: 0;
    }
}

@media (min-width: 1000px) {
    .background-photo {
        padding: 0 10em;
    }
}   