.project-item {
    padding: 1em;
    margin-bottom: 1em;
    /*border: 1px solid;*/
}

.project-title {
    font-weight: bold;
}

.photo-container {
    /*border: 1px solid;*/
    margin-bottom: 1em;
}

.photo {
    height: 8em;
    width: 8em;
    margin: 1em;
}

.chip {
    border: 0 !important;
    background-color: var(--chip-bg) !important;
}

.avatar {
    font-size: larger !important;
}