.section-headline {
    width: 100%;
    margin: var(--sections-margin) !important;
}

.section-headline-title {
    color: var(--text-primary-color);
    text-align: center !important;
}


.section-headline-subtitle {
    color: var(--text-secondary-color);
    line-height: var(--line-height);
    margin: var(--items-margin) !important;
    text-align: center;
}

