.service-item {
    display: flex;
    justify-content: space-between !important;
    flex-direction: column;
    text-align: left;
    background-color: var(--secondary-bg);
    border-radius: var(--border-radius);
    border: var(--border);
    box-shadow: var(--box-shadow);
    color: white;
}


