.service-item {
    display: flex;
    text-align: left;
    padding: 1em;
    margin-bottom: 1em;
    background-color: var(--secondary-bg);
    border-radius: var(--border-radius);
    color: white;
}


