@import './fonts.css';

:root {
    --background-color: #1D2125;
    --border-color: #38414A;
    --text-color: lightgray;
    --secondary-color: #282E33;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    background-color: var(--background-color);
    color: var(--text-color);
    font-weight: 100 !important;
    height: 100vh;
}

.centered {
    display: flex;
    justify-content: center;
    align-items: center;
}

.right {
    display: flex;
    justify-content: right;
    align-items: center;
}

.left {
    display: flex;
    justify-content: left;
    align-items: center;
}

.menu {
    padding: 1em;
    font-weight: 100 !important;
    background-color: var(--secondary-color);
    border-bottom: 1px solid var(--border-color);
}

.bottom-navigation {
    background-color: var(--secondary-color) !important;
    color: var(--text-color) !important;
}

.footer {
    position: absolute;
    bottom: 0;
    background-color: var(--secondary-color);
    border: 1px solid var(--border-color);
}

@media (min-width: 768px) {
    .menu {
        padding-left: 5em;
        padding-right: 5em;
    }
}



